body{
    color: #333;
    font-family: Verdana, sans-serif;
    margin: 0;
}

header{
    background-color: #efefef;
    margin:0;
    padding:0;
    align-items: center;
}

.dropdown-trigger {
    margin-top: 35px;
}

.main-title {/*親section*/
    position: relative;/*相対配置*/
}

.main-title img {
    width: 100%;
}

.main-title h1 {
    color: white;
}

.main-title h2 {
    color: white;
}

.main-title p {
    color: white;
}

.title {
    position: absolute;/*絶対配置*/
    display: block;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding-bottom:10px;/*文字との隙間*/
    font-weight: bold; /*太字に*/
    font-size: 2em;/*サイズ2倍*/
    text-align:center;
    font-family :Quicksand, sans-serif;
}

.title2 {
    position: absolute;/*絶対配置*/
    top: 50%;
    left: 50%;
    margin-top: 30px;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding-bottom:10px;/*文字との隙間*/
}

.subtitle {
    position: absolute;/*絶対配置*/
    display: block;
    top: 50%;
    left: 50%;
    margin-top: 60px;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-family :Quicksand, sans-serif;
}

.body-title, .body-subtitle {
    font-weight: bold;
}

.search-link {
    text-align: center;
}

footer p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 60px;
    color: gray;
}