body{
    color: #333;
    font-family: Verdana, sans-serif;
    margin: 0;
  }

header{
    background-color: #efefef;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
}

/*.container {
    background-color: pink;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}*/

.main-title {/*親section*/
    position: relative;/*相対配置*/
}

.main-title h1, h2, p {
    position: absolute;/*絶対配置*/
    color: white;/*文字は白に*/
    font-weight: bold; /*太字に*/
    font-size: 2em;/*サイズ2倍*/
    font-family :Quicksand, sans-serif;/*Google Font*/
    top: 0;
    left: 0;
}

.main-title img {
    width: 100%;
}

footer p {
text-align: center;
font-size: 14px;
margin-bottom: 60px;
color: gray;
}